* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cards-color-primary: #f7dd43;
    --card-border-color: #746615;
    --card-bg-color: #1d1c19;
    --bg: url(./assets/bg.svg);

}

body.blue {
    --cards-color-primary: #338af3;
    --card-border-color: #338af3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg.blue.svg);
}

body.green {
    --cards-color-primary: #047c3f;
    --card-border-color: #047c3f;
    --card-bg-color: #1a1f1b;
    --bg: url(./assets/bg.green.svg);
}

body * {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

body {
    background-color: #121214;
    background-image: var(--bg);
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    width: fit-content;
    margin: 52px auto;
    padding-top: 52px;
}

header {
    margin-bottom: 63px;
    text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--card-border-color);
    border-radius: 6px;
    width: fit-content;
    margin-inline:auto;
    margin-bottom: 53px;
    color: #F7DD43
}

.card h2 span {
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 250px;
}

.card ul li + li {
    padding-top: 24px;
    border-top: 1px;
    color: #e1e1e6;

}

.card ul li  strong {
    color: #e1e1e6;
    font-size: 36px;
    font-weight: 900;
    line-height: 125%;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
transition: transform 0.3s;
}

.card {
    animation: appear .5s;
}

.card:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.card:nth-child(1) ul {
    margin: auto;
}

@keyframes appear {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    #cards {
        max-width: 670px;
        flex-direction:row;
        flex-wrap: wrap;}
    .card:nth-child(1) h2 {
            margin-bottom: 0;
        }
    }